<ion-content class="login-content" [fullscreen]="true">

  <div class="login-container">

    
    <div class="login-header">

      <div class="logo-wrapper">
        <div class="logo-circle">
          <img src="assets/icon/passwordd.PNG">
        </div>
      </div>

      <h1 class="app-title">EduTrack 360</h1>
      <p class="app-subtitle">Reset Password</p>

    </div>

    
    <form class="login-form"
          [formGroup]="resetForm"
          (ngSubmit)="submit()">

    
      <div class="form-group">

        <ion-item lines="none" class="input-item">

          <img src="assets/icon/passwordd.PNG"
               style="height:5vw;margin-inline-end:2%;">

          <ion-input
            type="password"
            formControlName="newPassword"
            placeholder="New Password">
          </ion-input>

        </ion-item>

       
        <div class="error-text"
        *ngIf="resetForm.get('newPassword')?.dirty && resetForm.get('newPassword')?.errors">

          <div *ngIf="resetForm.get('newPassword')?.errors?.['required']">
            Password is required
          </div>

          <div *ngIf="resetForm.get('newPassword')?.errors?.['minlength']">
            Password must be at least 6 characters
          </div>

        </div>

      </div>

      <div class="form-group">

        <ion-item lines="none" class="input-item">

          <img src="assets/icon/passwordd.PNG"
               style="height:5vw;margin-inline-end:2%;">

          <ion-input
            type="password"
            formControlName="confirmPassword"
            placeholder="Confirm Password">
          </ion-input>

        </ion-item>

       
        <div class="error-text"
        *ngIf="resetForm.get('confirmPassword')?.dirty && resetForm.get('confirmPassword')?.errors">

          <div *ngIf="resetForm.get('confirmPassword')?.errors?.['required']">
            Confirm password is required
          </div>

          <div *ngIf="resetForm.get('confirmPassword')?.errors?.['mismatch']">
            Passwords do not match
          </div>
        </div>
      </div>
      <ion-button
        expand="block"
        shape="round"
        class="login-btn"
        [disabled]="resetForm.invalid"
        type="submit">

        <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>

        <span *ngIf="!isLoading">
          Reset Password
        </span>
      </ion-button>
    </form>
    <div class="login-footer">
      <p>© 2026 EduTrack 360. All rights reserved.</p>
    </div>

  </div>

</ion-content>