

<ion-content [fullscreen]="true">

  <!-- Greeting -->

  <div class="dashboard-greeting">
    <div>
      <div class="greeting-text">
        Welcome back,
      </div>

      <div class="user-name">
        Administrator
      </div>

      <div class="user-role">
        School Admin
      </div>
    </div>

    <div class="user-avatar">
      <ion-icon name="person-circle-outline"></ion-icon>
    </div>
  </div>


  <!-- Stats -->

  <div class="stat-grid">

    <div class="stat-card">
      <ion-icon name="school-outline"></ion-icon>

      <div class="stat-number">
        245
      </div>

      <div class="stat-title" (click)="setActiveTab('students','/principal/students')">
        Students
      </div>
    </div>


    <div class="stat-card">
      <ion-icon name="people-outline"></ion-icon>

      <div class="stat-number">
        32
      </div>

      <div class="stat-title">
        Teachers
      </div>
    </div>


    <div class="stat-card">
      <ion-icon name="person-outline"></ion-icon>

      <div class="stat-number">
        180
      </div>

      <div class="stat-title">
        Parents
      </div>
    </div>


    <div class="stat-card">
      <ion-icon name="bus-outline"></ion-icon>

      <div class="stat-number">
        12
      </div>

      <div class="stat-title">
        School Buses
      </div>
    </div>

  </div>


  <!-- Attendance -->

  <div class="attendance-card">

    <div class="attendance-title">
      Today's Attendance
    </div>

    <div class="attendance-row">

      <div class="att present">
        <div class="att-number">210</div>
        <div class="att-label">Present</div>
      </div>

      <div class="att absent">
        <div class="att-number">25</div>
        <div class="att-label">Absent</div>
      </div>

      <div class="att late">
        <div class="att-number">10</div>
        <div class="att-label">Late</div>
      </div>

    </div>

  </div>


  <!-- Quick Actions -->

  <div class="quick-actions">

    <div class="quick-action">
      <div class="quick-icon">
        <ion-icon name="school-outline"></ion-icon>
      </div>
      <div class="quick-label">
        Students
      </div>
    </div>

    <div class="quick-action">
      <div class="quick-icon">
        <ion-icon name="people-outline"></ion-icon>
      </div>
      <div class="quick-label">
        Teachers
      </div>
    </div>

    <div class="quick-action">
      <div class="quick-icon">
        <ion-icon name="bus-outline"></ion-icon>
      </div>
      <div class="quick-label">
        Buses
      </div>
    </div>

    <div class="quick-action">
      <div class="quick-icon">
        <ion-icon name="chatbubbles-outline"></ion-icon>
      </div>
      <div class="quick-label">
        Messages
      </div>
    </div>

  </div>

  <div style="height:20px"></div>

</ion-content>