<ion-content>

  <ion-router-outlet [animated]="true"
  ></ion-router-outlet>

</ion-content>

<div class="custom-tabs">
 <div class="tab-btn"
       (click)="setActiveTab('dashbord','/principal/dashboard')"
       [ngClass]="{ 'active-tab': activeTab === 'dashbord' }">

      <ion-icon name="school-outline"></ion-icon>
      <span>{{ 'tabs.dashboard' | translate }}</span>

  </div>

  <div class="tab-btn"
       (click)="setActiveTab('students','/principal/students')"
       [ngClass]="{ 'active-tab': activeTab === 'students' }">

      <ion-icon name="settings-outline"></ion-icon>
      <span>{{ 'tabs.students' | translate }}</span>

  </div>
  <div class="tab-btn"
       (click)="setActiveTab('messages','/principal/messages')"
       [ngClass]="{ 'active-tab': activeTab === 'messages' }">

      <ion-icon name="school-outline"></ion-icon>
      <span>{{ 'tabs.messages' | translate }}</span>

  </div>

  <div class="tab-btn"
       (click)="setActiveTab('more','/principal/more')"
       [ngClass]="{ 'active-tab': activeTab === 'more' }">

      <ion-icon name="settings-outline"></ion-icon>
      <span>{{ 'tabs.more' | translate }}</span>

  </div>

</div>
