<ion-content class="schools-page" [fullscreen]="true">

  <div class="container">

    <!-- 🏫 Header -->
    <div class="header">
      <div class="logo">
        <ion-icon name="school-outline"></ion-icon>
      </div>

      <h1>Schools</h1>
    </div>

    <!-- 🔍 Search -->
    <ion-item lines="none" class="search-box">
      <ion-input
        placeholder="Search schools..."
        [(ngModel)]="searchTerm"
        (ionInput)="filterSchools()">
      </ion-input>
    </ion-item>

    <!-- 🏫 List -->
    <div class="school-list">
      <div class="school-card" *ngFor="let school of filteredSchools">

        <div class="left"> 
          <div class="icon-box">
            <ion-icon name="school-outline"></ion-icon>
          </div>

          <div class="info">
            <h2>{{ school.name }}</h2>
            <p>{{ school.code }}</p>
          </div>
        </div>

        <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>

      </div>
    </div>

    <!-- Footer -->
    

  </div>

  <!-- ➕ Floating Add Button -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToAddSchool()" class="fab-btn">
     +
    </ion-fab-button>
  </ion-fab>

</ion-content>