<ion-content class="login-content" [fullscreen]="true">

  <div class="login-container">

    <!-- HEADER -->
    <div class="login-header">

      <div class="logo-wrapper">
        <div class="logo-circle">
          <img src="assets/icon/passwordd.PNG" />
        </div>
      </div>

      <h1 class="app-title">EduTrack 360</h1>
      <p class="app-subtitle">Reset Password</p>

    </div>

    <!-- FORM -->
    <form class="login-form" [formGroup]="resetForm" (ngSubmit)="submit()">

      <!-- OLD PASSWORD -->
      <div class="form-group">

        <ion-item lines="none" class="input-item">
          <img src="assets/icon/passwordd.PNG" class="icon" />

          <ion-input
            type="password"
            formControlName="oldPassword"
            placeholder="Old Password">
          </ion-input>
        </ion-item>

        <div class="error-text"
          *ngIf="resetForm.get('oldPassword')?.touched && resetForm.get('oldPassword')?.errors">

          <span>Old password is required</span>

        </div>

      </div>

      <!-- NEW PASSWORD -->
      <div class="form-group">

        <ion-item lines="none" class="input-item">
          <img src="assets/icon/passwordd.PNG" class="icon" />

          <ion-input
            type="password"
            formControlName="newPassword"
            placeholder="New Password">
          </ion-input>
        </ion-item>

        <div class="error-text"
          *ngIf="resetForm.get('newPassword')?.touched && resetForm.get('newPassword')?.errors">

          <span *ngIf="resetForm.get('newPassword')?.errors?.['required']">
            Password is required
          </span>

          <span *ngIf="resetForm.get('newPassword')?.errors?.['minlength']">
            Minimum 6 characters
          </span>

        </div>

      </div>

      <!-- CONFIRM PASSWORD -->
      <div class="form-group">

        <ion-item lines="none" class="input-item">
          <img src="assets/icon/passwordd.PNG" class="icon" />

          <ion-input
            type="password"
            formControlName="confirmPassword"
            placeholder="Confirm Password">
          </ion-input>
        </ion-item>

        <div class="error-text"
          *ngIf="resetForm.errors?.['mismatch'] && resetForm.get('confirmPassword')?.touched">

          Passwords do not match

        </div>

      </div>

      <!-- BUTTON -->
      <ion-button
        expand="block"
        shape="round"
        class="login-btn"
        type="submit"
        [disabled]="resetForm.invalid || isLoading">

        <ion-spinner *ngIf="isLoading"></ion-spinner>

        <span *ngIf="!isLoading">
          Reset Password
        </span>

      </ion-button>

    </form>

    <!-- FOOTER -->
    <div class="login-footer">
      <p>© 2026 EduTrack 360. All rights reserved.</p>
    </div>

  </div>

</ion-content>