<ion-content class="forgot-content" [fullscreen]="true">
  <div class="forgot-container">

    <!-- Icon -->
    <div class="icon-circle">
      <img src="assets/icon/cloo.PNG"
           style="height: 10vh;" />
    </div>

    <!-- Title -->
    <h2 class="title">Forgot your password?</h2>
    <p class="subtitle">
      Enter your email address and we will send you a reset link.
    </p>

    <!-- Form -->
    <form
      class="form"
      [formGroup]="forgotForm"
      (ngSubmit)="submit()">

      <!-- Email Input -->
      <ion-item class="input-item" lines="none">
        <img src="assets/icon/email.png"
             style="height:4vh; margin-inline-end: 3%;" />

        <ion-input
          type="email"
          formControlName="email"
          placeholder="Enter your email">
        </ion-input>
      </ion-item>

      <!-- Error Message -->
       
      <!-- Submit Button -->
      <ion-button
        type="submit"
        expand="block"
        shape="round"
        class="submit-btn"
        [disabled]="forgotForm.invalid">
        Send Reset Link
      </ion-button>

    </form>

    <!-- Back Button -->
    <ion-button
      fill="clear"
      class="back-btn"
      routerLink="/login"
      type="button">
      Back to Login
    </ion-button>

    <!-- Footer -->
    <p class="footer">
      © 2026 EduTrack 360. All rights reserved.
    </p>

  </div>
</ion-content>