<ion-content class="forgot-content" [fullscreen]="true">
  <div class="forgot-container">

    <!-- Icon -->
    <div class="icon-circle">
<img src="assets/icon/clo.png" style="height: 10vh;margin-inline-start: 3vw;" />
    </div>

    <!-- Title -->
    <h2 class="title">Forgot your password?</h2>
    <p class="subtitle">
      Enter your email address and we will send you a reset link.
    </p>

    <!-- Form -->
    <form class="form">

      <ion-item  class="input-item">
        <img src="assets/icon/email.png" style="height:4vh;margin-inline-start: 0vw;" />
        <ion-input
          type="email"
          placeholder="Enter your email">
        </ion-input>
      </ion-item>

      <ion-button
        type="submit"
        expand="block"
        shape="round"
        class="submit-btn">
        Send Reset Link
      </ion-button>

    </form>

    <!-- Back Button -->
    <ion-button fill="clear" class="back-btn">
 
      Back to Login
    </ion-button>

    <p class="footer">
      © 2026 EduTrack 360. All rights reserved.
    </p>

  </div>
</ion-content>