.login-bg {
  --background: linear-gradient(180deg, #181b1f 0%, #2a64b1 50%, #242c37 100%);
}

.container {
  padding: 20px;
}

.title {
  color: white;
  font-weight: 600;
  margin-bottom: 20px;
}
.logo-wrapper{
  display:flex;
  justify-content:center;
  margin-bottom:1rem;
}

.logo-circle{margin-top: 2vh;margin-inline-end: 3vw;
  width:6vw;
  height:6vw;

  max-width:80px;
  max-height:80px;

  border-radius:50%;

 

  display:flex;
  align-items:center;
  justify-content:center;

  backdrop-filter:blur(10px);

  box-shadow:0 8px 32px rgba(37,99,235,0.3);
}
.main-card {margin-top: 2vh;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}

.menu-card {
  margin-top: 15px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

.avatar {
  width: 40px;
  height: 40px;
  background: #2b6ef3;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
}

.logout {
  color: #e74c3c;
}

.version {
  text-align: center;
  color: white;
  margin-top: 25px;
  font-size: 13px;
}