<ion-content class="login-content" [fullscreen]="true">
  <div class="login-container">
    <!-- Language Toggle -->
    <div class="lang-toggle">
      <ion-button fill="clear" size="small">
       <ion-icon 
  [icon]="languageOutline"
  style="font-size:4.5vw; color: #eaecf0;margin-inline-start: 3vw;">
</ion-icon>
        AR
      </ion-button>
    </div>

   
    <div class="login-header">
      <div class="logo-wrapper">
        <div class="logo-circle">
          <ion-icon 
  [icon]="schoolOutline"
  slot="start"
  style="font-size: 10vw; color: #eaecf0;">
</ion-icon>
        </div>
      </div>
      <h1 class="app-title">aseelzddddd</h1>
      <p class="app-subtitle">hadeel</p>
    </div>

    <form  class="login-form">
   
      <div class="form-group">
        <ion-item lines="none" class="input-item">
          <ion-icon [icon]="personOutline" slot="start"  style="font-size: 4.5vw; color: #8a97a3;"></ion-icon>
          <ion-input
            type="text"
            placeholder="Enter your username">
          </ion-input>
        </ion-item>
      </div>
      <div class="form-group">
        <ion-item lines="none" class="input-item" >
          <ion-icon [icon]="lockClosedOutline" slot="start"  style="font-size: 4.5vw; color:  #8a97a3;"></ion-icon>
          <ion-input
            placeholder="Enter your password">
          </ion-input>
          <ion-button fill="clear" slot="end"  class="toggle-password">
            <ion-icon name= 'eye-off-outline' color="medium"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
      <div class="form-group">
        <ion-item lines="none" class="input-item">
          <ion-icon [icon]="businessOutline" slot="start"  style="font-size: 4.5vw; color:  #8a97a3;"></ion-icon>
          <ion-input
           type="text"
           placeholder="Enter school code (Optional)">
          </ion-input>
        </ion-item>
      </div>
      <div class="forgot-password">
        <ion-button fill="clear" size="small" >
          Forgot password?
        </ion-button>
      </div>
      <ion-button
        type="submit"
        expand="block"
        shape="round"
        class="login-btn"
       >
    
        <span>Login</span>
      </ion-button>
    </form>
    <div class="login-footer">
      <p>© 2026 EduTrack 360. All rights reserved.</p>
    </div>
  </div>
</ion-content>