<ion-content class="login-content" [fullscreen]="true">
  <div class="login-container">

    <!-- Language Toggle -->
 <div class="lang-toggle">
  <ion-button fill="clear" (click)="toggleLanguage()">
    <img src="assets/icon/lan.png" style="height: 10vw;" />
    {{ currentLang === 'en' ? 'EN' : 'AR'}}
  </ion-button>
</div>
    <!-- Header -->
    <div class="login-header">
      <div class="logo-wrapper">
        <div class="logo-circle">
          <img src="assets/icon/login.png" alt="lock" />
        </div>
      </div>
      <h1 class="app-title">{{ 'common.appName' | translate }}</h1>
      <p class="app-subtitle">{{ 'auth.login' | translate }}</p>
    </div>

    <!-- Form -->
    <form
      class="login-form"
      [formGroup]="loginForm"
      (ngSubmit)="submit()">

      <!-- Username -->
      <div class="form-group">
        <ion-item lines="none" class="input-item">
          <img src="assets/icon/user.PNG" class="custom-class" />
          <ion-input
            type="text"
            formControlName="username"
            placeholder="{{ 'auth.login' | translate }}">
          </ion-input>
        </ion-item>
      </div>

      <!-- Password -->
      <div class="form-group">
        <ion-item lines="none" class="input-item">
          <img src="assets/icon/passwordd.PNG" style="height:5vw; margin-inline-end: 2%;" />
          <ion-input
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            placeholder="{{ 'auth.password' | translate }}">
          </ion-input>
  
        </ion-item>
      </div>

      <!-- School Code --> 
      <div class="form-group">
        <ion-item lines="none" class="input-item">
          <img src="assets/icon/schoolll.PNG" class="custom-class" />
          <ion-input
            type="text"
            formControlName="schoolCode"
            placeholder="{{ 'auth.schoolCode' | translate }}">
          </ion-input>
        </ion-item>
      </div>

      <!-- Forgot Password -->
      <div class="forgot-password" routerLink="/forgot-password">
        <ion-button fill="clear" size="small" type="button">
          {{ 'auth.forgotPassword' | translate }}
        </ion-button>
      </div>

      <!-- Login Button -->
      <ion-button (click)="submit()" 
        expand="block"
        shape="round"
        class="login-btn"
        [disabled]="loginForm.invalid"><ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>

        <span *ngIf="!isLoading">{{ 'auth.loginButton' | translate }}</span>
      </ion-button>

    </form>

    <!-- Footer -->
    <div class="login-footer">
      <p>© 2026 EduTrack 360. All rights reserved.</p>
    </div>

  </div>
</ion-content>