<ion-content class="add-school-content" [fullscreen]="true">

  <div class="add-school-container">

    <div class="top-icon">
      <ion-button fill="clear" class="add-btn" (click)="goBack()">
        X
      </ion-button>
    </div>

    <!-- Header -->
    <div class="page-header">

      <ion-button fill="clear" class="back-btn" routerLink="/tabs/schools">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>

      <div class="logo-wrapper">
        <div class="logo-circle">
          <img src="assets/icon/schoolll.PNG" style="width:12vw;height:12vw;">
        </div>
      </div>

      <h1 class="page-title">
        {{ 'school.addSchool' | translate }}
      </h1>

      <p class="page-subtitle">
        {{ 'school.createSchool' | translate }}
      </p>

    </div>

    <!-- Form -->
    <form
      class="school-form"
      [formGroup]="schoolForm"
      (ngSubmit)="createSchool()">

      <!-- School Information -->
      <div class="form-section">

        <h2 class="section-title">
          {{ 'school.schoolInformation' | translate }}
        </h2>

        <ion-item lines="none" class="input-item">
          <ion-input
            [placeholder]="'school.schoolName' | translate"
            formControlName="schoolName">
          </ion-input>
        </ion-item>

        <ion-item lines="none" class="input-item">
          <ion-input
            [placeholder]="'school.subdomain' | translate"
            formControlName="subdomain">
          </ion-input>
        </ion-item>

        <ion-item lines="none" class="input-item">
          <ion-input
            [placeholder]="'school.schoolEmail' | translate"
            formControlName="schoolEmail">
          </ion-input>
        </ion-item>

        <ion-item lines="none" class="input-item">
          <ion-input
            [placeholder]="'school.phone' | translate"
            formControlName="phone">
          </ion-input>
        </ion-item>

        <ion-item lines="none" class="input-item">
          <ion-input
            [placeholder]="'school.address' | translate"
            formControlName="address">
          </ion-input>
        </ion-item>

      </div>

      <!-- Principal Account -->
      <div class="form-section">

        <h2 class="section-title">
          {{ 'school.principalAccount' | translate }}
        </h2>

        <ion-item lines="none" class="input-item">
          <ion-input
            [placeholder]="'users.firstName' | translate"
            formControlName="firstName">
          </ion-input>
        </ion-item>

        <ion-item lines="none" class="input-item">
          <ion-input
            [placeholder]="'users.lastName' | translate"
            formControlName="lastName">
          </ion-input>
        </ion-item>

        <ion-item lines="none" class="input-item">
          <ion-input
            [placeholder]="'school.principalEmail' | translate"
            formControlName="principalEmail">
          </ion-input>
        </ion-item>

        <ion-item lines="none" class="input-item">
          <ion-input
            [placeholder]="'users.username' | translate"
            formControlName="username">
          </ion-input>
        </ion-item>

        <ion-item lines="none" class="input-item">
          <ion-input
            type="password"
            [placeholder]="'auth.password' | translate"
            formControlName="password">
          </ion-input>
        </ion-item>

      </div>

      <!-- Button -->
 
<ion-button expand="block"
            (click)="createSchool()"
            [disabled]="isLoading || schoolForm.invalid">

  <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>

  <span *ngIf="!isLoading">
    {{ 'school.createSchool' | translate }}
  </span>

</ion-button>
    </form>

  </div>

</ion-content>