<ion-content class="students-content">

  <div class="container">

    <!-- Header -->
    <div class="header">
      <h2>Students</h2>
      <ion-icon name="add-outline"></ion-icon>
    </div>

    <!-- Search -->
    <div class="search-box">
      <ion-icon name="search-outline"></ion-icon>
      <input type="text" placeholder="Search">
    </div>

    <!-- Filters -->
    <div class="filters">
      <div class="chip active">Filter: All</div>
      <div class="chip">Grade 1</div>
      <div class="chip">Grade 2</div>
      <div class="chip">Grade 3</div>
    </div>

    <!-- Student Card -->
    <div class="student-card">
      <div class="avatar">LS</div>

      <div class="info">
        <h3>Laith Saleh</h3>
        <p>11 - 5 - B</p>
      </div>

      <div class="status">ACTIVE</div>

      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>

  </div>

  <!-- Floating Button -->
  <ion-fab vertical="start" horizontal="end" slot="fixed">
    <ion-fab-button>
  uu
    </ion-fab-button>
  </ion-fab>

</ion-content>
